<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SomaShare</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="listings">
                Browse Textbooks
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mylistings">
                My Listings
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard">
                Dashboard
            </NavLink>
        </div>

 
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="offers">
                Offers
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="transactions">
                Transactions
            </NavLink>
        </div>

            <AuthorizeView>
        <Authorized Context="authenticationState">
            <div class="nav-item px-3">
                <span class="nav-link">
                    @authenticationState.User.Identity?.Name
                </span>
            </div>

            <div class="nav-item px-3">
                <form method="post" action="/Identity/Account/Logout">
                    <AntiforgeryToken />

                    <input type="hidden"
                        name="returnUrl"
                        value="/" />

                    <button type="submit" class="nav-link">
                        Log out
                    </button>
                </form>
            </div>
        </Authorized>

        <NotAuthorized>
            <div class="nav-item px-3">
                <a class="nav-link" href="/Identity/Account/Login">
                    Log in
                </a>
            </div>

            <div class="nav-item px-3">
                <a class="nav-link" href="/Identity/Account/Register">
                    Register
                </a>
            </div>
        </NotAuthorized>
    </AuthorizeView>

    </nav>
</div>